@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Mono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
  }

.font-mono {
  font-family: 'Roboto Mono', monospace;
}
